*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* background: rgb(0, 0, 70); */
}

.container{
    display: flex;
    flex-wrap: wrap;
    
}
.container > *{
    flex: 1 1 100%;
}
.logout{
    display: flex;
    justify-content: flex-end;

}
.logout a{
    margin: 5px;
    /* line-height: 10px; */
    text-decoration: none;
    color: black;
    transition: 0.4s;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 15px;
}
.logout a:hover{
    text-decoration: underline;
    color: blue;
    transform: scale(105%);
}
.sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec > *{
    flex: 1 1 100%;
}
.head{
    display: flex;
    justify-content: center;
}
.subhead{
    display: flex;
    justify-content: center;
}
.body{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
}
.box{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    min-width: 300px;
    padding: 10px;
    flex-wrap: wrap;

    transition: 0.5s;
}

.body a{
    text-decoration: none;
}
.box-items{
    min-height: inherit;
    min-width: inherit;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 15, 61);

    
}
.box-items{
    border-radius: 30px;
    transition: 0.4s;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
}
.box-items:hover{
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 10%), 
    0 6.7px 5.3px rgb(0 0 0 / 18%), 
    0 12.5px 10px rgb(0 0 0 / 18%), 
    0 22.3px 17.9px rgb(0 0 0 / 18%), 
    0 41.8px 33.4px rgb(0 0 0 / 18%), 
    0 100px 80px rgb(0 0 0 / 18%);
    transform:scale(105%);
}

@media screen and (max-width: 983px) {
    .box{
        /* border: 1px solid black; */
        
        min-height: 170px;
        min-width: 300px;
        padding: 10px;
        
    
        /* transition: 0.5s; */
    }
}